@{
    Layout = "_AdminLayout";
}
@section Script{
    <script src="~/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
@model ShopProject.WebUI.Areas.Admin.Models.MenuItem.MenuItemListModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


    <form asp-controller="MenuItem" asp-area="Admin" asp-action="Update" method="post">
        <div class="form-group row">
            <label asp-for="MenuName" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="MenuName" class="form-control" value="@Model.MenuName" />
                <span asp-validation-for="MenuName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ControllerName" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="ControllerName" class="form-control" value="@Model.ControllerName" />
                <span asp-validation-for="ControllerName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ActionName" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="ActionName" class="form-control" value="@Model.ActionName" />
                <span asp-validation-for="ActionName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 offset-md-2">
                <button type="submit" class="btn btn-primary">Save Menu</button>
            </div>
        </div>
        <input type="hidden" id="ID" name="ID" value="@Model.ID" />
    </form>